h1{
    color: blue
}
#container{
    width: 900px;
   padding:10px;
}
#left{
    width:350px;
    float: left;
}
#right{
    width:550px;
    float:right;
}
hr{
    border:solid red;
}
p{
    margin-bottom: 30px;
    margin-left: 10px;
}
p i{
    margin-right: 10px;
}
strong{
    color:blueviolet
}
input{
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}
input[type=text],
input[type=email]
{
    width: 600px;
    padding: 10px 10px;
}
textarea{
    width: 600px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 12px;
    padding-bottom: 100px;
    font-family: 'Times New Roman', Times, serif;
}
.icon input{
    width:150px;
    height:40px;
    background-color: #53b1a0;
    color: white;
    border:white;
    margin-top: 10px;
    text-transform: uppercase;
}
.icon i{
    position: absolute;
    left: 33%; /* Adjust the position of the icon */
    bottom: 31.7%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 13px;
}